# For next-auth configuration
NEXTAUTH_URL=[Where your application is hosted, locally with default port -> http://localhost:3000]
NEXTAUTH_SECRET=[Your own 32 character secret. Create one easily by running "openssl rand -base64 32" command on your terminal]

# For Azure AD configuration
AZURE_AD_CLIENT_ID=[Application (client) id from Azure AD app registration]
AZURE_AD_TENANT_ID=[Directory (tenant) id from Azure AD app registration]
AZURE_AD_CLIENT_SECRET=[Client secret from Azure AD app registration]

# Database connection variables (Azure SQL)
DB_SERVER=[Database location, locally -> localhost]
DB_PORT=[Server port number]
DB_USER=[Database username]
DB_PWD=[Database user's password]
DB_NAME=[Database name]

# Database connectionstring (MongoDB)
MONGODB_URI=[MongoDB connectionstring]